<div
  class="page"
>
  <h2 class="page__heading">Stories</h2>
  <div 
    class="story-list"
    key="stories"
    array
  >
    {{#for storyListItem in stories}}
      <div
        class="story-list__story"
        object
        key:id="{{storyListItem.id}}"
        key:name="@search"
      >
        <a 
          target:name
          class="story-list__story-link" 
          href="/{{@root.pageAuthor.details.username}}/story/{{storyListItem.id}}"
        >{{storyListItem.name}}</a>
        <button 
          class="story-list__story-edit-button" 
          edit:name
        >Edit</button>
      </div>
    {{/for}}
  </div>
  <button 
    class="button button--pink story-list__story-add-button"
    new:storyListItem
  >Add Story</button>
</div>